.slideshow .close_icon {
	position:absolute;
	top:2%;
	right:2%;
	padding:0.5em;
	color:white;
	z-index:10000;
	font-size:1.5em;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.85);
	cursor:pointer;
	opacity:0.5;
}

.slideshow .close_icon:hover {
	opacity:1;
}

.slideshow .left_icon {
	position:absolute;
	top:50%;
	left:2%;
	padding:0.5em;
	color:white;
	z-index:10000;
	font-size:1.5em;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.85);
	cursor:pointer;
	opacity:0.5;
}

.slideshow .left_icon:hover {
	opacity:1;
}

.slideshow .right_icon {
	position:absolute;
	top:50%;
	right:2%;
	padding:0.5em;
	color:white;
	z-index:10000;
	font-size:1.5em;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.85);
	cursor:pointer;
	opacity:0.5;
}

.slideshow .right_icon:hover {
	opacity:1;
}

.slideshow .imgitem {
	position:absolute;
	top:1%;
	left:1%;
	right:1%;
	bottom:1%;
	margin:0;
	padding:0;
}

.slideshow .imgitem .image {
	height:100%;
	width:auto;
	margin:auto;
}
