div(class='ui vertical footer segment')
	div(class='ui center aligned container')
		div(class='ui section divider')
		img(src='/img/dd_icon.jpg' class='ui centered mini image')
		div(class='ui horizontal divided link list')
			a(class='item' href='#') Wechat
			a(class='item' href='#') Instgram
			a(class='item' href='#') Facebook
