doctype html
html
	head
		title DearDeer

		
		link(rel='stylesheet', href='/semantic/semantic.css')
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/slideshow.css')

		include layoutscript.jade
	body
		include header.jade

		include mainmenu.jade

		block content

		include footer.jade
		
