
div(class='ui container')
	div(class='ui fixed top hidden menu')
		div(class='ui container')
			div(class='ui grid')
				div(class='one wide column')
				div(class='fourteen wide column')
					div(class='ui borderless main menu')
						div(class='ui container')
							a(href=(page!=='flower'?'/flower/':'#') class=(page==='flower'?'active item':'item')) 鲜花
							a(href=(page!=='wedding'?'/wedding/':'#') class=(page==='wedding'?'active item':'item')) 婚礼
							a(href=(page!=='aboutus'?'/aboutus/':'#') class=(page==='aboutus'?'active item':'item')) 关于我们
				div(class='one wide column')
	div(class='ui grid')
		div(class='one wide column')
		div(class='fourteen wide column')
			div(class='ui borderless main menu')
				div(class='ui container')
					a(href=(page!=='flower'?'/flower/':'#') class=(page==='flower'?'active item':'item')) 鲜花
					a(href=(page!=='wedding'?'/wedding/':'#') class=(page==='wedding'?'active item':'item')) 婚礼
					a(href=(page!=='aboutus'?'/aboutus/':'#') class=(page==='aboutus'?'active item':'item')) 关于我们
		div(class='one wide column')
