
div(class='ui container')
	div(class='ui fixed top hidden menu')
		div(class='ui container')
			div(class='ui grid')
				div(class='one wide column')
				div(class='fourteen wide column')
					div(class='ui borderless main menu')
						div(class='ui container')
							a(href='/flower/' class=(page==='flower'?'active item':'item')) Flower
							a(href='/wedding/' class=(page==='wedding'?'active item':'item')) Wedding
							a(href='/aboutus' class=(page==='aboutus'?'active item':'item')) About Us
				div(class='one wide column')
	div(class='ui grid')
		div(class='one wide column')
		div(class='fourteen wide column')
			div(class='ui borderless main menu')
				div(class='ui container')
					a(href='/flower/' class=(page==='flower'?'active item':'item')) Flower
					a(href='/wedding/' class=(page==='wedding'?'active item':'item')) Wedding
					a(href='/aboutus' class=(page==='aboutus'?'active item':'item')) About Us
		div(class='one wide column')
