extends layout

block content
	- var list_left=['9','905','672','675','683','763']
	- var list_right=['674','669','677','681','762']
	div(class='titleimage')
		img(class='ui fluid image headerimage' src='/img/wedding/wedding_header.jpg')
	div(class='ui container ')
		div(class='ui grid')
			div(class='one wide column')
			div(class='fourteen wide column')
				p(class='description') 婚礼是一辈子最重要的日子之一，就让小鹿来为你用美丽的鲜花装点吧，留下一辈子最美好的回忆。
				div(class='ui section divider')
				div(class='ui two column grid gallery' style='padding-left:1em;padding-right:1em')
					div(class='column')
						div(class='ui one column grid')
							each val in list_left
								div(class='column image' style='padding:0.5em')
									img(class='ui fluid image' data-src='/img/wedding/wedding-#{val}.jpg')
					div(class='column')
						div(class='ui one column grid')
							each val in list_right
								div(class='column image' style='padding:0.5em')
									img(class='ui fluid image' data-src='/img/wedding/wedding-#{val}.jpg')

			div(class='one wide column')
	script(src='/js/wedding.js')


